.login-wrap .login-form .form-group{
	margin-top: 10px;
	margin-bottom: 10px;
}

.login-wrap .login-form label{
	float: left;
	margin-bottom: 5px;
}
.form-group .form-check .radio {
    max-inline-size: fit-content;
}